.detailed-post-container {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 0.5em;
	text-align: right;
	background-color: rgb(243, 243, 243);
	justify-content: space-between;
	align-self: stretch;
	flex: 1;
	cursor: pointer;
	transition: background-color 0.3s;
	width: 20em;
	margin-bottom: 1em;
  }
  
  .detailed-post-container:hover {
	background-color: #f0f0f0;
	transform: scale(1.01);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .detailed-post-container .post-image {
	max-width: 90%;
	max-height: 150px;
	max-width: 270px;
	height: auto;
	border-radius: 8px;
	align-self: center;
  }
  
  .detailed-post-container .post-title {
	font-size: 20px;
	/* only need right and left margins , top and bottom are set to 0 */
	margin: 0 0 0.5em 0;
	word-break: break-all;
	overflow-wrap: break-word;
  }

  .detailed-post-container .title-date-container {
	margin-top: 2px;
	display: flex;
	justify-content: space-between;
	align-items:first baseline;
  }
  

  .detailed-post-container .post-date {
	color: #888;
	font-size: 14px;
	margin: 0; /* Remove top margin */
  }
  
  .detailed-post-container .post-description {
	font-size: 16px;
	margin: 5px 0;
	text-wrap: balance;
	word-break: break-all;
	overflow-wrap: break-word;
  }
  
  .detailed-post-container .post-button {
	border: none;
	padding: 0.6em 1em;
	cursor: pointer;
	border-radius: 5px;
	background: #bc4287;
	color: #fff;
	padding: 0.5em 1em;
	font-size: 11px;
	max-width: 40%;
	margin-top: auto;
	flex-direction: flex-end;
  }
  
  .detailed-post-container .post-button:hover {
	background: #653a76;
  }
  
  .detailed-post-container .post-pdf-button {
	background: transparent;
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	margin: 0.5em 0;
	text-align: center;
	max-width: 20%;
	transition: background-color 0.3s;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
  }
  
  .detailed-post-container .post-pdf-button img {
	display: block;
	width: 24px;
	height: 24px;
  }
  
  .detailed-post-container .post-pdf-button:hover {
	background: transparent;
  }
  