.detailed-post-container {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 1em;
	text-align: right;
	background-color: rgb(243, 243, 243);
	justify-content: space-between;
	align-self: stretch;
	flex: 1;
	cursor: pointer;
	transition: background-color 0.3s;
}

.detailed-post-container:hover {
	background-color: #f0f0f0;
	transform: scale(1.01);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

.detailed-post-container .post-image {
	max-width: 90%;
	max-height: 150px;
	max-width: 270px;
	height: auto;
	border-radius: 8px;
	align-self: center;
	/* Center the image if it is smaller than the width */
}

.detailed-post-container .post-title {
	font-size: 20px;
	/* margin: 15px 0; */
	margin-top: 12px;
	margin-bottom: 0;
	word-break: break-all;
	overflow-wrap: break-word;
}

.detailed-post-container .post-date {
	color: #888;
	font-size: 14px;
}

.detailed-post-container .title-date-container{
	display: flex;
	justify-content: space-between;

}

.detailed-post-container .post-description {
	font-size: 16px;
	margin: 5px 0;
	text-wrap: balance;
	word-break: break-all;
	overflow-wrap: break-word;
}

.detailed-post-container .post-button {
	border: none;
	padding: 0.6em 1em;
	cursor: pointer;
	border-radius: 5px;
	background: #9b59b6;
	color: #fff;
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
	font-size: 11px;
	max-width: 40%;
	/* Adjust the width to fill the container */
	margin-top: auto;
	/* This pushes the button to the bottom */
	flex-direction: flex-end;
}

.detailed-post-container .post-button:hover {
	background: #653a76;
}

.detailed-post-container .post-pdf-button {
	background: transparent;
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	margin: 0.5em 0;
	text-align: center;
	max-width: 20%;
	transition: background-color 0.3s;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
  
}

.detailed-post-container .post-pdf-button img {
	display: block;
	width: 24px;
	height: 24px;
}

/* Prevent background change on hover */
.detailed-post-container .post-pdf-button:hover {
	background: transparent;
}