.text-editor-menu-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 99.5%;
	margin: 0px;
	padding: 0px;
	/*here*/
	background-color: #f3f3f3;
	border-radius: 5px;
}


.text-editor-menu-bar .sub-menu-bar {
	 float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0px;
	padding: 0px;
}

.text-editor-menu-bar .sub-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0px;
	padding: 0px 5px;
}

/* from about half-screen width, display the sub-group as a column */
@media (max-width: 888px) {
	.text-editor-menu-bar{
		flex-direction: column;
		margin: 0px;
	}
}