.menu-bar-button .syntax-button,
.menu-bar-button .syntax-button:hover,
.menu-bar-button .use-button {
	display: inline-block;
	border-radius: 0cqh;
	background-color: white;
	color: black;
	padding: 0.25rem 0.5rem;
	border: 0px;
}

.menu-bar-button .is-active,
.menu-bar-button .is-active:hover,
.menu-bar-button .use-button:hover {
	background-color: #0d0d0d;
	color: #fff;
}

.menu-bar-button .use-button {
	display: inline-block;
	border-radius: 0cqh;
	background-color: white;
	color: black;
	padding: 0.25rem 0.5rem;
}

.menu-bar-button .syntax-button:disabled,
.menu-bar-button .syntax-button:disabled:hover,
.menu-bar-button .use-button:disabled,
.menu-bar-button .use-button:disabled:hover {
	opacity: 0.5;
	background-color: white;
	color: black;
}
