.text-editor-menu-bar .text-editor-text-editor-menu-bar-button {
	font-weight: bold;
	align-items: center;
	justify-content: center;
	background-color: #9b59b6;
	color: white;
	border: none;
	border-radius: 10px;
	box-shadow: none;
	cursor: pointer;
	padding: 0px; /* Smaller padding for smaller buttons */
	margin: 0px 0px;
	transition: background-color 0.3s, transform 0.3s;
	font-size: 16px; /* Smaller font size for buttons */
	margin: 0 0px;
}

.text-editor-menu-bar .text-editor-menu-bar-button:hover {
	background-color: #a20067;
	transform: translateY(-2px);
}

.text-editor-menu-bar .text-editor-menu-bar-button:disabled {
	background-color: #a0a0a0;
	cursor: not-allowed;
}

.text-editor-menu-bar .syntax-button,
.text-editor-menu-bar .syntax-button:hover,
.text-editor-menu-bar .use-button {
	border-radius: 0cqh;
	background-color: white;
	color: black;
	padding: 0.25rem 0.5rem;
	border: 0px;
}

.text-editor-menu-bar .is-active,
.text-editor-menu-bar .is-active:hover,
.text-editor-menu-bar .use-button:hover {
	background-color: #0d0d0d;
	color: #fff;
}

.menu-bar .use-button {
	border-radius: 0cqh;
	background-color: white;
	color: black;
	padding: 0.25rem 0.5rem;
}

.menu-bar .syntax-button:disabled,
.menu-bar .syntax-button:disabled:hover,
.menu-bar .use-button:disabled,
.menu-bar .use-button:disabled:hover {
	opacity: 0.5;
	background-color: white;
	color: black;
}