/* Basic editor styles */
/* .tiptap {} */

html,
body,
#root {
	height: 100%; /* Ensures the root element takes up full height */
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	direction: rtl; /* Right-to-Left */
	text-align: right; /* Align text to the right */
	background-color: #f0f0f0;
	color: #333;
}

.tiptap > * + * {
	margin-top: 0.75em;
}

.tiptap,
ul,
ol {
	padding: 0 1rem;
}

.tiptap,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

.tiptap,
code {
	background-color: '0d0d0d';
	color: #616161;
	font-size: 0.9em;
	font-family: 'JetBrainsMono', monospace;
	padding: 0.25em 0.5em;
}

.tiptap,
pre {
	background: #ffffff;
	color: #000000;
	font-family: 'JetBrainsMono', monospace;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;

	code {
		color: inherit;
		padding: 0;
		background: none;
		font-size: 0.8rem;
	}
}

.tiptap,
img {
	max-width: 100%;
	height: auto;
}

.tiptap,
blockquote {
	padding-left: 1rem;
	border-left: 2px solid #0d0d0d;
}

.tiptap,
hr {
	border: none;
	border-top: 2px solid #0d0d0d;
	margin: 2rem 0;
}

.editor-button {
	display: inline-block;
	border: 1px solid #0d0d0d;
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 0.25rem 0.5rem;
}

.editor-button-is-active,
.editor-button:hover {
	background-color: #0d0d0d;
	color: #fff;
}
