/* Container for the whole component */
.admin-dashboard-posts-container {
	width: 100%;
	margin: 0;
	border: none;
}
/* Header section */
.admin-dashboard-posts-container .admin-dashboard-posts-navbar-container {
	background: #9b59b6;
	color: white;
	padding: 1em 0;
	position: sticky;
	top: 0;
	width: 100%;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.admin-dashboard-posts-navbar-container .admin-dashboard-posts-navbar-menu  {
	list-style: none;
	display: flex;
	margin: 0px;
	padding: 0px;
}
.admin-dashboard-posts-navbar-container .admin-dashboard-posts-navbar-menu li {
	margin: 1em 2em;
}

.admin-dashboard-posts-navbar-container .admin-dashboard-posts-navbar-menu li button {
	background-color: transparent;
	color: #fff;
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
	font-size: 2em;
	transition: background-color 0.3s;
}

.admin-dashboard-posts-navbar-container .admin-dashboard-posts-navbar-menu li button:hover {
	background-color: #575757;
	border-radius: 5px;
}

/* Button styles */
.admin-dashboard-posts-container .add-post-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.admin-dashboard-posts-container .add-post-button:disabled {
	background-color: #a0a0a0;
	cursor: not-allowed;
}

.admin-dashboard-posts-container .add-post-button:hover:enabled {
	background-color: #0056b3;
}

/* Content section */
.admin-dashboard-posts-container .posts-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Loading and error styles */
.admin-dashboard-posts-container .loading,
.admin-dashboard-posts-container .error {
	font-size: 1.5em;
	color: #333;
	margin-top: 20px;
	text-align: center;
}

@media (max-width: 768px) {
	.admin-dashboard-posts-container .add-post-button {
		margin-right: 70px;
	}
}
