.miscellaneous {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  margin-right: 500px;
  margin-left: 100px;
}

.miscellaneous-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; /* Allows wrapping of sections */
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px; /* Flex-grow, flex-shrink, and flex-basis to ensure boxes take equal space and wrap properly */
  max-width: 300px; /* Optional: limit the maximum width of each box */
  box-sizing: border-box;
}

.section h2 {
  margin-bottom: 10px;
  text-align: center;
}

button.update-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button.update-button:hover {
  background-color: #2980b9;
}
