/* Container for the whole component */
.admin-dashboard-posts-container {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}
/* Header section */
.admin-dashboard-posts-header {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px; /* Reduced margin */
}

/* Button styles */
.admin-dashboard-posts-container .add-post-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.admin-dashboard-posts-container .add-post-button:disabled {
	background-color: #a0a0a0;
	cursor: not-allowed;
}

.admin-dashboard-posts-container .add-post-button:hover:enabled {
	background-color: #0056b3;
}

/* Content section */
.admin-dashboard-posts-container .posts-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Loading and error styles */
.admin-dashboard-posts-container .loading,
.admin-dashboard-posts-container .error {
	font-size: 1.5em;
	color: #333;
	margin-top: 20px;
	text-align: center;
}

/* Posts container styles */
.admin-dashboard-posts-container .posts-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	gap: 20px;
	justify-content: center;
	margin-top: 20px; 
}

@media (max-width: 768px) {
	.admin-dashboard-posts-container .add-post-button {
		margin-right: 70px;
	}
}
