.posts {
    margin-right: 300px; /* Deja espacio para la barra lateral */
    padding: 20px;
    width: calc(100% - 250px); /* Ajusta el ancho del contenido */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }
  