.general-posts-presentor {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	
}

.general-posts-presentor .posts-pagination-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 100%;
}

.posts-pagination-buttons .pagination-button {
	background-color: var(--button-primary-color);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s, transform 0.3s;
}

.admin-dashboard-posts-navbar-menu .active-tab {
	background-color: #575757;
	border-radius: 5px;
}

.posts-pagination-buttons .pagination-button:hover {
	background-color: #b370cc;
	transform: scale(1.05);
}
.posts-pagination-buttons .pagination-button:disabled {
	background-color: #575757;
	transform: scale(1.05);
}
.posts-pagination-buttons .pagination-button:focus {
	transform: none;
	outline: none;
}

.general-posts-presentor .posts-presentor-search-container {
	position: relative;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 50px;
}
.posts-presentor-search-container .posts-presentor-search-input {
	padding: 8px;
	width: 100%;
	border: 2px solid #a8a8a8;
	font-size: 20px;
	border-radius: 4px;
	margin-top: 20px;
	transition: box-shadow 0.3s;
}

.general-posts-presentor .presentor-posts-container {

	display: grid;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	grid-template-columns: repeat(auto-fit, 320px);
	grid-auto-rows: minmax(auto, 1fr);
}
