.posts-section {
  padding: 2em;
  background: #ffffff;
  position: relative;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.posts-section h2 {
  margin: 0;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.view-all-button-container {
  position: absolute;
  bottom: 1em; /* Adjust the value to fit your design */
  left: 1em; /* Adjust the value to fit your design */
}

.view-all-button {
  background: #9b59b6;
  color: white;
  border: none;
  padding: 0.6em 0.6em;
  /* should be lower than the padding of the button */
  margin-bottom: -1em;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

.view-all-button:hover {
  background: #8e44ad;
}
