/* src/components/Navbar.css */

.navbar {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Arial, Helvetica, sans-serif;
  background: #9b59b6;
  color: white;
  padding: 1em 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

.navbar-logo {
  order: 1;
}

.navbar-logo img {
  height: 100px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.4s;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  order: 2;
}

.navbar-menu li {
  margin-left: 2em;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.navbar-menu li a, .logout-button {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  transition: background 0.3s, color 0.3s;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 15px;

}

.navbar-menu li a:hover, .logout-button:hover {
  background: #555;
  color: #fff;
}

.navbar-end {
  display: flex;
  margin-left: auto;
  order: 3;
}

.space {
  margin-right: 5cm;
}

.admin-logout {
  background-color: #765092; /* Dark violet */
  border-radius: 15px;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background: #9b59b6;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin: 0;
    width: 100%;
  }

  .navbar-menu li a {
    display: block;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .hamburger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
