.draggable-post-element {
	user-select: none;
	padding: 0px;
	margin: 0 0 0px 0;
	background-color: #fff;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}

.drag-handle {
  cursor: grab;
  padding: 2px;
}