.element-editor-container {
	width: 100%;
	border: #333 solid 1px;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	margin: 10px 0px;
}

.element-editor-container .draggable-post-element {
	padding: 0px;
	margin: 0;
	width: 100%;
	background-color: #fff;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.element-editor-container .drag-handle {
	cursor: grab;
	padding: 2px;
}

.element-editor-container .element-comp-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.element-editor-container .element-editor-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0px;
	padding: 10px;
	border: #bcbcbc solid 1px;
	border-radius: 5px;
	background-color: #c2c2c2;
}

.element-editor-container .element-editor-header button,
.element-editor-container .element-editor-header select {
	margin: 0px 10px;
}
.element-editor-container .element-editor-header input {
	width: fit-content;
}
