/* src/components/helpScore/HelpScoreForm.css */

.help-score-form {
    display: flex;
    align-items: flex-start; /* Align items to the start of the container */
    justify-content: center; /* Center items horizontally */
    width: auto; /* Adjust based on content or set a max-width */
    max-width: 90%; /* Prevents overflow and ensures padding */
    margin: 0 auto; /* Center the form horizontally */
    padding-top: 10vh; /* Add padding to the top */
    padding-bottom: 10vh; /* Add padding to the bottom for better spacing */
}

.bordered-container {
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    border: 1.5px solid #d8d8d8;
    border-radius: 5px;
    padding: 2.5%;
    width: fit-content; /* Ensure container width fits its content */
}

table {
    margin: auto 4%; /* Center the table horizontally */
    padding: 2%;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed; /* Ensures equal width for all cells */
    margin-bottom: 2%;
}

thead {
    background-color: #e6e5e5;
}

.q_table th, td {
    border: 1.5px solid #d8d8d8;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; /* Ensure text doesn't overflow */
}
td:hover {
    background-color: whitesmoke;
}

/* General style for questions */
p[id^="question-"] {
    margin: auto 4%; /* Center the table horizontally */
    margin-bottom: 0.7%;
    padding: auto 2%;
    color: #333;
    text-align: right;
}

/* Style for radio buttons in the table */
input[type="radio"] {
    margin: 10px;
    transform: scale(1.2); /* Makes the radio buttons larger */
}

/* Targeting radio inputs within a table */
table tr td input[type="radio"] {
    cursor: pointer; /* Changes cursor to pointer on hover */
}


/* Styling based on state, e.g., when the radio button is checked */
.q_table input[type="radio"]:checked {
    
    accent-color: green;
    content: "✔";
    
}