/* src/components/helpScore/HelpScoreForm.css */
.question-container {
    margin-bottom: 20px;
    justify-content: space-between;
    align-self: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed; /* Ensures equal width for all cells */
}

thead {
    background-color: #eeeeee;
}

th, td {
    border: 1px solid #d8d8d8;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; /* Ensure text doesn't overflow */
}

/* General style for all questions */
p[id^="question-"] {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: right;
}
