.header {
	width: 100vw;
	position: relative;
	text-align: center;
	color: #333333ba;
}

.header-image-container {
	width: 100%;
	overflow: hidden;
	/* Prevent overflow */
	position: relative;
	text-align: center;
}

.header-image {
	width: 100%;
	height: 38vh;
	/* see more of bottom image */
	object-fit: cover;
	object-position: 100% 70%;
	/* 100% from the left and 66% from the top */
}

.header-text {
	position: absolute;
	top: 50%;
	right: 2%;
	/* Adjust this value to control the distance from the right edge */
	transform: translateY(-50%);
	text-align: right;
}

.header-text h1 {
	font-size: 2.5em;
	margin: 0;
	background: linear-gradient(90deg, #cc74a4, #9326cc, #7330b7, #d14699, #d484ac, #6c4a8c);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-stroke-width: 1px;
}


.header-text p {
	font-size: 1.2em;
	margin: 0;
}

.fill-form-button {
	margin-top: 1em;
	margin-right: 1em;
	background-color:#a20067;
	color: #fff;
	border: none;
	padding: 1em 2em;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1em;
	font-weight: 500;
}

.fill-form-button:hover {
	/*background-color: #9c5cb3; /*- old  theme*/
	/*white box shadow, imitate glow*/
	background: #874a8c;
	box-shadow: 0 0 15px #f5f5f5;
}

.donate-button {
	background: #a04598;
	color: #fff;
	border: none;
	padding: 1em 2em;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1em;
}

.donate-button:hover {
	background: #ac1c74;
	/* A slightly darker tone for hover effect */
}

main {
	padding: 2em;
	flex: 1;
	/* Ensures that the main content area takes up available space */
}

section {
	margin-bottom: 2em;
	background: white;
	padding: 2em;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
	font-size: 2em;
	margin-top: 0;
}

.service {
	border: 1px solid #ddd;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 8px;
	background: #fafafa;
}

nav {
	background: #333;
	color: white;
	padding: 1em;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

nav ul li {
	margin-left: 1em;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 1em;
}

nav ul li a:hover {
	text-decoration: underline;
}

/*footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 1em 0;
	width: 100%;
	bottom: 0;
}*/

.homepage {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* Ensures the homepage takes up full viewport height */
}

@media (max-width: 768px) {
	.header-text {
		margin-top: 1em;
		right: 0;
		/* Align text to the right */
		padding: 0 1em;
		/* Add padding to the text */
	}

	.header-text h1 {
		display: none;
		font-size: 2em;
		text-align: right;
	}

	.header-text h3 {
		display: none;
	}


	.header-text p {
		font-size: 1em;
	}

	.header-image {
		height: 20vh;
	}

	.fill-form-button{
		/* since it's closer to the nav bar, the colour clashes with the nav bar */
		background-color: #a04598;
	}

	.fill-form-button:hover {
		background: #ac1c74;
	}
}
